html {
    font-family: 'Roboto';
    background-color: #444;
    min-height: 100%
}

body {
    min-height: 100%;
}

:root {
    --topBarGray: #2a2a2a
}

.BingoGame {
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 25px;
    height: 60%;
}

.bingo-field {
    overflow: hidden;
    aspect-ratio: 1;
}

.NavBar {
    padding: 20px;
    background-color: var(--topBarGray);
    font-size: 35px;
    color: white;
    justify-content: space-between;
    display: flex;
}

.Title {
    text-align: center;
}

.backButton {
    background-color: var(--topBarGray);
    border: var(--topBarGray);
}

.card-grid {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    align-items: center;
}

.card-row {
    display: flex;
    max-width: 400px;
    margin: auto;
}

.bingo-field {
    flex: 1;
    aspect-ratio: 1;
    border-width: 1.5px;
    border-color: black;
    margin: 0;
    max-width: 80px;
    max-height: 80px;
    overflow: hidden;
}

.listItem {
    color: white;
    font-size: 20px;
    padding: 15px;
    border-bottom: 2px solid gray;
    justify-content: space-between;
    display: flex;
}

.listItemIcons {
    display: flex;
}

.listTitle {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    color: white;
    padding: 15px;
    border-bottom: 2px solid white;
    height: 35px;
}

.imprint {
    color: white;
    font-size: 18px;
}

.gradient {
    background: linear-gradient(180deg, rgb(9, 9, 121) 0%, rgb(1, 4, 19) 100%);
    min-height: 100%;
    width: 100%;
    position: absolute;
}

.debugInfo {
    color: white
}

.browserConatiner {
    height: max-content;
    display: table;
}

.gameList {
    float: left;
    min-width: calc(50% - 1px);
    display: table-cell;
    border-right: 1px solid gray;
}

.setList {
    float: right;
    min-width: calc(50% - 1px);
    display: table-cell;
    border-left: 1px solid gray;
}

.TitleInput {
    padding: 10px;
}

.alertAction {
    color: white;
    padding-bottom: 10px;
    padding-right: 10px;
}

.deleteAll {
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 7px;
}

.listCount {
    padding-bottom: 0px;
}