html {
    font-family: 'Roboto';
    background-color: #444;
    min-height: 100%;
}

body {
    min-height: 100%;
}

:root {
    --topBarGray: #2a2a2a;
    --BingoCardRadius: 40px;
    --borderGray: #5e5e5e;
    --cardBackground: #02020260;
    --primaryColor: white;
}

.BingoGame {
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 25px;
    height: 60%;
}

.NavBar {
    padding: 20px;
    background-color: var(--topBarGray);
    font-size: 35px;
    color: white;
    justify-content: space-between;
    display: flex;
}

.Title {
    text-align: center;
}

.backButton {
    background-color: var(--topBarGray);
    border: var(--topBarGray);
}

.card-grid {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    align-items: center;
}

.card-row {
    display: flex;
    max-width: 400px;
    margin: auto;
}

.bingoField {
    flex: 1;
    aspect-ratio: 1;
    border-width: 1.5px;
    border-color: black;
    margin: 0;
    overflow: hidden;
}

.card-row:first-child > .bingoField:first-child {
    border-top-left-radius: var(--BingoCardRadius);
}

.card-row:first-child > .bingoField:last-child {
    border-top-right-radius: var(--BingoCardRadius);
}

.card-row:last-child > .bingoField:first-child {
    border-bottom-left-radius: var(--BingoCardRadius);
}

.card-row:last-child > .bingoField:last-child {
    border-bottom-right-radius: var(--BingoCardRadius);
}

.listTitle, .listItem {
    color: var(--primaryColor);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px solid;
    background-color: var(--cardBackground);
}

.listTitle {
    border-color: var(--primaryColor);
    min-height: 39px;
    font-size: 30px;
}

.listItem {
    border-color: var(--borderGray);
    font-size: 20px;
}

.listItemIcons {
    display: flex;
}

.imprint {
    color: var(--primaryColor);
    font-size: 18px;
}

.gradient {
    background: linear-gradient(180deg, rgb(0, 0, 128) 0%, rgb(0, 0, 0) 100%);
    min-height: 100%;
    width: 100%;
    position: absolute;
}

.debugInfo {
    color: var(--primaryColor);
}

.paddedList, .gameList, .setList {
    margin: 15px;
    border: 2px solid var(--borderGray);
    border-radius: 15px;
    overflow: hidden;
}

.gameList, .setList {
    min-width: calc(50% - 27px);
    display: table-cell;
}

.gameList {
    float: left;
    margin-right: 0px;
}

.setList {
    float: right;
    margin-left: 0px;
}

.gameList > :last-child, .setList > :last-child, .paddedList > :last-child {
    border-bottom: 0px;
}

.TitleInput {
    padding: 15px;
    padding-bottom: 0px;
}

.TitleInput > * > .MuiInputBase-root, .startButton > .textButton {
    background-color: var(--cardBackground);
}

.alertAction {
    color: white;
    padding-bottom: 10px;
    padding-right: 10px;
    text-decoration: underline;
}

.textButton {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid var(--primaryColor);
    border-radius: 7px;
}

.listCount {
    padding-bottom: 0px;
}

.startButton {
    color: var(--primaryColor);
    font-size: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

a {
    color: var(--primaryColor);
}
